html{
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: #eeeeee4a;
}
.mainBlock, #signIn, #signUp, #settings, #addDocument, #documents, #editDocument{
    display: grid;
    align-content: center;
    text-align: center;
}
.mainBlock{
    min-height: 100vh;
}
#signIn, #signUp, #settings, #tables, #addDocument, #documents, #editDocument{
    margin-bottom: 50px;
    margin-top: 70px;
    display: none;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: .5s;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

form{
    display: grid;
    width: 500px;
    margin: auto;
    max-width: 90vw;
}
form input, select, .select{
    text-align: center;
    height: 35px;
    border: 1px dashed lightgray;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
}
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
.select {
    margin-right: 10px;
    position: relative;
    display: inline-block;
}
.select:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0dd";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 25%;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
form button, .backButton{
    min-height: 50px;
    border: none;
    cursor: pointer;
    width: 100%;
}
form button{
    color: #00af86 !important;
}
.backButton{
    border-radius: 15px;
    color: crimson;
}
form button:hover, .backButton:hover{
    background: #e0dfdf;
}
#message{
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    opacity: 0;
    transition: opacity .5s ease;
    position: fixed;
    width: 100%;
    z-index: 998;
}
#popUp{
    filter: opacity(90%);
    height: 20%;
    display: none;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    opacity: 0;
    transition: opacity .5s ease;
    position: fixed;
    width: 40%;
    top: 40%;
    left: 30%;
    border-radius: 10px;
    z-index: 998;
    box-shadow: 2px 2px 10px 2px lightgray;
    border: 2px solid white;
}
#popUp i, #message i{
    margin-right: 10px;
}
.showBlock{
    transition: all .5s ease;
    opacity: 1 !important;
}
.navBtn{
    margin-top: 15px;
}
.pageTitle{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 2s;
    min-height: 50px;
}
.secondBlock{
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    max-width: 90vw;
    margin: auto;
    background: #bbbbbb1a;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.buttons{
    display: inline-flex;
    position: fixed;
    width: 100%;
    height: 50px;
    align-items: center;
    z-index: 900;
    background: whitesmoke;
    box-shadow: 1px 1px 1px lightgray;
    transform: translateY(-100px);
    transition: transform 2s ease;
}
.headerBtn{
    height: 25px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.headerBtnPrim{
    height: 25px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.headerBtnPrim button{
    margin-left: 5px;
    min-width: 50px;
}
.headerBtnPrim .active{
    color: #00af86;
}
.headerBtnPrim .inactive{
    color: crimson;
}
.headerBtn button{
    margin-right: 5px;
    width: 50px;
}
.fileUploader{
    height: 50px;
    width: 100%;
    margin: auto;
    background: white;
    border: 2px dashed #bbb8b8;
    border-radius: 15px;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.fileUploader:hover{
    opacity: 1;
}
.activeUploader{
    opacity: .5;
    background: #d9ffd9;
}
form label{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.timeUntil{
    display: block;
    font-size: .7rem;
    margin-left: 5px;
}
label i{
    margin-right: -40px;
    min-width: 35px;
    position: relative;
    z-index: 1;
    background: white;
}
.group{
    display: grid;
    width: 90%;
    margin: auto;
    background: #fff;
    padding: 5px;
}
.g-outside{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}
.d-flex{
    display: flex;
    justify-content: center;
}
.documentBlock{
    display: grid;
    width: 90%;
    margin: auto;
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: transform .5s ease;
    opacity: .5;
}
.documentBlock:hover{
    opacity: .9;
}
.timeBlock{
    position: absolute;
    color: white;
}
.btnGroup{
    display: flex;
    width: 50%;
    margin: auto;
}
.btnGroup .backButton{
    margin-left: 10px;
    margin-right: 10px;
    min-height: 25px;
    font-size: .8rem;
}
.btnGroup .delete{
    color: crimson;
}
.btnGroup .status{
    color: #00af86;
}
.btnGroup .change{
    color: #e59800;
}
form .backButton{
    color: crimson;
}
.success{
    background: #00af86;;
}
.danger{
    background: crimson;
}
.warning{
    background: #e59800;
}
.primary{
    background: #525252;;
}
.gr{
    color: #00af86;
}
.or{
    color: #e59800;
}
.cr{
    color: crimson;
}
.headerBtn button:first-child{
    color: #00af86;
}
.headerBtn button:nth-child(2){
   color: crimson;
}
@keyframes blinkAnim {
    0% {
        background: linear-gradient(to right, #bbbbbb1a 8%, white 18%, #bbbbbb1a 33%);
        background-position: 0;
    }
    100% {
        background: linear-gradient(to right, #bbbbbb1a 8%, white 18%, #bbbbbb1a 33%);
        background-position: 38vw;
    }
}

.loadingBlock {
    animation: .5s linear;
    animation-name: blinkAnim;
}
.fileTitle{
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 2px black;
}
.success .status{
    color: #525252;
}
#currentDate{
    display: flex;
    align-items: center;
}
#currentDate i{
    margin-right: 5px;
}
.smallTitle{
    font-size: .6rem;
}