html, body {height:99%; min-height: 99%; margin:0}

#popup_body {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#696969;
	opacity:.5;
	z-index:1;
	visibility: hidden;
}

#popup {
	position:fixed;
	display:flex;
	flex-direction: column;
	width:50%;
	height:50%;
	margin-left:25%;
	background:#FFFFFF;
	z-index:999;
	visibility: hidden;
}